body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.persona-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Prevents image stretching */
}

ul {
    color:gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bio {
    background-color: pink;
}

.details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    background-color: pink;
}


.column {
    width: 45%;
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    margin-bottom:50px;
    
    border-top:50px;
    border-left:50px;
    border-color:gray;
}


/* Add your own colors below based on your Vibe! */
h1 { color: pink; }
h3 { color: gray; border-bottom: 2px solid #ddd; }
h2 {color : gray}
